body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
}

hr {
	border-color: #a8996e;
	border-width: 1px;
}

area {
    cursor: initial;
}

.click-area:hover {
    cursor: pointer;
}

#map {
    /* OU content width is 525px */
}

.content-col-3 {
    float: left;
    width: 22.999999%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0.5em;
}

.content-col-6 {
    float: left;
    width: 49.999999%;
    -ms-flex: 0 0 75%;
    flex: 0 0 52%;
    max-width: 52%;
    padding: 0.5em;
}

.content-col-9 {
    float: left;
   /* width: 72.999999%;*/
    width: 68.999999%;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0.5em;
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #505050;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form.floor-select h3 {
    margin-top: 0;
}

div.base-map {
    display: block;
    position: relative;
    bottom: 180px;
    width: 100%;
}

div#map-container {
    position: relative;
    height: 1200px;
/*    top: 310px;
    left: 0;*/
   /* width: 68%;*/
}

div#selected-list {
	position: relative;
    top: 0;
    left: 45em;
    width: 50%;
}

div.select-menu {
    position: relative;
    /* top: 0px; */
    /* bottom: 240px; */
    /*float: right;*/
    left: 968px; 
    width: 360px;
}

div.select-menu > form {
	/*width: 855px;*/
}

h3 {
	background:#a8996e;
	padding: 4px 11px;
	text-transform: uppercase;
	color: white;
}

div.select-menu > form input[type*="checkbox"] {
    margin: 20px 10px 0 0;
}

img.map-base,
img.map-slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 900px;
}

div.floor-select {
    width: 400px;
    position: relative;
    left: 927px;
    bottom: 276px;
}

div.floor-select ul li {
	list-style: none;
    padding: 16px 22px;
    background: #e5e3e1;
    margin-bottom: 10px;
    font-weight: bold;
    color: #181818;
/*    font-size: 15px;*/
}

div.floor-select ul li.active {
	background: #a8996e;
	color: white;
}

div.floor-select ul li:hover {
	cursor: pointer;
}

div#legend {
    width: 900px;
    position: relative;
    top: 0;
    left: 0;
}

div#legend h3,
div#legend img {
	margin-left: 6px;
}

div#legend > img {
	position: relative;
    top: 10px;
    left: -10px;
}

.hoverdisplay {
    position: relative;
    width: 150px;
    padding: 3px;
    background-color: #eef2c5;
    font-size: 12px;
    border-radius: 3px;
}