body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
    margin: 0;
    background-color: #e5e3e1 !important;
}

hr {
	border-color: #a8996e;
	border-width: 1px;
}

area {
    cursor: initial;
}

div#du-header {
    height: 50px;
    width: 100%;
    background-color: #8b2332;
}

div#sidebar-nav {
    width: 24%;
    background-color: white;
}

.click-area:hover {
    cursor: pointer;
}

div#content {
    width: 74%;
    background-color: #e5e3e1;
    padding: 100px 0 100px 50px;
}

div#sidebar-nav {
    padding-top: 100px;
}

div#item-select-menu {
    position:relative;
    top: 75px;
}

form.floor-group-select > h3 {
    margin-bottom: 30px !important;
}

.map-pin {
    z-index: 10;
}

.clickmap {
    position: absolute;
    top: 0;
    left:;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px !important;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #e5e3e1;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #505050;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

form.floor-select h3 {
    margin-top: 0;
}

div.base-map {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

div#map {
    margin-bottom: 70px;
}

div#map-container {
    height: 90%;
    width: 90%;
}

div#map-legend {
    width: 91%;
    margin- top: 80px;
}

div#selected-list {
	position: relative;
    top: 0;
    left: 45em;
    width: 50%;
}

div.select-menu {
    margin: 0 auto;
    width: 76%;
}

div.select-menu > form {
    width: 100%;
}

h3 {
	background:#a8996e;
	padding: 4px 11px;
	text-transform: uppercase;
	color: white;
    font-size: 1.17em !important;
}

div.select-menu > form input[type*="checkbox"] {
    margin: 20px 10px 0 0;
}

img.map-base {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

img.map-slide {
	position: absolute;
	top: 0;
	left: 0;
    max-width: 100%;
    max-height: 100%;
}

div.floor-select {
    margin: 0 auto;
    width: 76%;
}

div.floor-select ul {
    width: 100%;
    padding-left: 0;
}

div.floor-select ul li {
	list-style: none;
    padding: 16px 22px;
    background: #e5e3e1;
    margin-bottom: 10px;
    font-weight: bold;
    color: #181818;
}

div.floor-select ul li.active {
	background: #a8996e;
	color: white;
}

div.floor-select ul li:hover {
	cursor: pointer;
}

div#legend {
    width: 77%;
    max-width: 900px;
}

div#legend > img {
	max-height: 100%;
    max-width: 100%;
}

.hoverdisplay {
    position: relative;
    width: 150px;
    padding: 3px;
    background-color: #eef2c5;
    font-size: 12px;
    border-radius: 3px;
}

@media (min-width:320px) {
    body {
        font-size: 0.5rem;
    }
}
@media (min-width:600px) {
     
}
@media (min-width:768px) {
    body {
        font-size: 0.55rem;
    }
}
@media (min-width:900px) {
     body {
        font-size: 0.68rem;
    }
}
@media (min-width:1281px) {
    body {
        font-size: 1rem;
    }
}