body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
}

hr {
	border-color: #a8996e;
}

div#map-container {
	position: relative;
	top: 0;
	left: 0;
}

div#selected-list {
	position: relative;
    top: 0;
    left: 45em;
    width: 50%;
}

div#select-menu {
	position: relative;
    top: 936px;
    left: 15px;
}

div#select-menu > form {
	width: 855px;
}

div#select-menu > form h3 {
	background:#a8996e;
	padding: 4px 11px;
	text-transform: uppercase;
	color: white;
}

div#select-menu > form input[type*="checkbox"] {
	margin-right: 10px;
}

img.map-base,
img.map-slide {
	position: absolute;
	top: 0;
	left: 0;
}